@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-layout {
  background: #fafafa !important;
}

.ant-btn-primary {
  background-color: #2d8cff;
}

.chat-login-header * {
  color: white;
}

.chat-login-header {
  height: 550px;
  margin-top: -48.8px;
  padding-top: 137.8px;
  border-radius: 12px;
  box-shadow: 0 20px 27px rgb(0, 0, 0/ 5%);
  background-position: 50%;
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-image: url('./assets/image/LoginBackground.svg'); */
  background: url('./assets/image/demo2.jpg');
}

.chat-login-header .content {
  padding-top: 40px;
  max-width: 480px;
  margin: auto;
}

.chat-login-header .content h1 {
  font-size: 48px;
  color: white;
}

.card-login {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 20px 27px rgb(0, 0, 0 / 5%);
  margin: -190px auto 20px;
}

.layout-default.ant-layout.layout-sign-up {
  padding: 11px;
}