@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-layout {
  background: #fafafa !important;
}

.ant-btn-primary {
  background-color: #2d8cff;
}

.chat-login-header * {
  color: white;
}

.chat-login-header {
  height: 550px;
  margin-top: -48.8px;
  padding-top: 137.8px;
  border-radius: 12px;
  box-shadow: 0 20px 27px rgb(0, 0, 0/ 5%);
  background-position: 50%;
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-image: url('./assets/image/LoginBackground.svg'); */
  background: url('./assets/image/demo2.jpg');
}

.chat-login-header .content {
  padding-top: 40px;
  max-width: 480px;
  margin: auto;
}

.chat-login-header .content h1 {
  font-size: 48px;
  color: white;
}

.card-login {
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: 0 20px 27px rgb(0, 0, 0 / 5%);
  margin: -190px auto 20px;
}

.layout-default.ant-layout.layout-sign-up {
  padding: 11px;
}
.ant-tabs-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.ant-tabs-tab {
  width: 45%;
  justify-content: center;
}
body {
  overflow: hidden;
}
.scrollableContent{
  overflow-y: scroll;
  height:calc(100vh - 100px);
}
.scrollBar::-webkit-scrollbar-thumb {
   background-color: #1890ff;
}
.scrollBar::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  background-color: #f5f5f5;
}

.scrollBar::-webkit-scrollbar-track {
  border: 5px solid white;
  background-color: #f5f5f5;
}
.chatDtl-container{

}
.text-with-dot{
  display: flex;
  flex-direction: row;
}
.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  height: 50px;
}
.chatBody{
  overflow-y: scroll;
  height: calc(100% - 130px);
  position: fixed;
}
.chatFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f0f0;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background: #fff;
}
.emojiPicker{
  position: absolute;
}
.popup-content{
  left: 0 !important;
  bottom: 65px !important;
  top: unset !important;
}
.messages-chat {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.messages-chat .message-in {
  display:flex;
  margin-bottom: 10px;
  width: 100%;
}
.messages-chat .message-out {
  display:flex;
  margin-bottom: 10px;
  width: 100%;
  justify-content: right;
}
.text-container-in {
  background-color: #f6f6f6;
  padding: 15px;
  border-radius: 12px;
  max-width: 70%;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.text-container-in .text  {
  float: left;
  text-align: left;
  margin-bottom: 5px;
  font-size: 14px;
}
.text-container-in .time {
  font-size: 10px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
.text-container-out {
  background-color: #1890ff;
  padding: 15px;
  border-radius: 12px;
  max-width: 70%;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.text-container-out .text {
  float: left;
  text-align: left;
  color: #fff;
  margin-bottom: 5px;
  font-size: 14px;
}
.text-container-out .time {
  font-size: 10px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  color: #fff;
}
.chat-textarea {
  width: 75%;
  resize: none;
  max-height: 70px;
  padding: 5px;
  outline: 1px solid #000;
  border-radius: 2px;
}
.more-menu {
  rotate: 90deg;
  cursor: pointer;
  margin-left: 5px;
  width: 20px;
  height: 20px;

}